<div class="container">
  <div class="row">
    <a routerLink="/angular2">
      <div class="col-sm-6 col-md-4 ">
        <div class="thumbnail hover">
          <img src="/img/angular/logo.png" alt="...">
          <div class="caption">
            <h1 class="text-center">Angular 2</h1>
            <p>เริ่มเรียนรู้เกี่ยวกับ Angular 2 & cli ตั้งแต่พื้นฐานจนไปถึงจนสามารถประยุกต์ใช้กับงานของท่านได้</p>
          </div>
        </div>
      </div>
    </a>
    <a routerLink="/php">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail hover">
          <img class="img" src="/img/php7/logo.png" alt="...">
          <div class="caption">
            <h1 class="text-center">PHP7</h1>
            <p>เริ่มเรียนรู้เกี่ยวกับ PHP & PHP7ตั้งแต่พื้นฐานจนไปถึงจนสามารถประยุกต์ใช้กับงานของท่านได้</p>
          </div>
        </div>
      </div>
    </a>
    <a routerLink="/feathers">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail hover">
          <img class="img" src="/img/feathers/logo.png" alt="...">
          <div class="caption">
            <h1 class="text-center">FeathersJS</h1>
            <p>เริ่มเรียนรู้เกี่ยวกับ Feathers & Feathers-cli
              ตั้งแต่พื้นฐานจนไปถึงจนสามารถประยุกต์ใช้กับงานของท่านได้</p>
          </div>
        </div>
      </div>
    </a>
    <a routerLink="/firebase">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail hover">
          <img class="img" src="/img/firebase/logo.png" alt="...">
          <div class="caption">
            <h1 class="text-center">Firebase</h1>
            <p>เริ่มเรียนรู้เกี่ยวกับ Firebase ตั้งแต่พื้นฐานจนไปถึงจนสามารถประยุกต์ใช้กับงานของท่านได้</p>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
