@font-face {
    font-family: thaisan;
    src: url(thaisanslite_r1.ttf);
    font-weight: bold;
}

#thaisan {
    font-family: thaisan;
    color: #fff;
    !important;
}

.code {
    background-color: white;
    font-size: 28px;
    color: #000;
    font-family: thaisan;
}

h1 {
    color: #fff;
}

.topic {
    font-family: thaisan;
    color: #fff;
    !important;
}

.about {
    background-color: #fff;
    color: #FFFFFF;
    margin-top: 100px
}
